[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/sifive/riscv-pk.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
